# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Virtual environment
venv/
env/
ENV/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
